{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
    'form-control',
  ]
%}

{% if attributes.type|render|trim == 'search' %}
  {% set attributes = attributes.setAttribute('type', 'text') %}
{% endif %}
<input{{ attributes.removeClass('form-text').addClass(classes) }} />{{ children }}
