<footer>
  <div class="bg-secondary text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-4 text-link-light">
          {{ page.footer_one }}
        </div>
        <div class="col-4 text-link-light">
          {{ page.footer_two }}
        </div>
        <div class="col-4 d-flex align-items-end justify-content-end">
          {{ page.footer_three }}
        </div>
      </div>
    </div>
  </div>

    <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-secondary">
    {{ page.footer_bottom }}
  </div>
  <!-- Copyright -->

</footer>
