<header>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{ page.header_top }}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-2 mb-3 shadow">
    <div class="container">
      <nav class="navbar navbar-expand-lg px-0">
        <a class="navbar-brand text-dark text-uppercase pr-3" href="/">
          {{ page.navigation.ixm_training_branding|render|striptags|trim }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <div class="mr-auto">
            {{ page.navigation.ixm_training_main_menu }}
          </div>

          <div class="form-inline">
            {{ page.navigation.ixm_training_search }}
          </div>

        </div>
      </nav>
    </div>
  </div>

</header>
